body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lavender;
    font-family: 'Verdana', sans-serif;
}
#container{
    margin: auto;
    padding: 10px;
    width: 80%;
    background-color: transparent;
}
header{
    width: 100%;
    background: cadetblue;
    padding: 1%;
    text-align: center;
}
nav{
    width: 100%;
    text-align: center;
    padding: 1%;
}
#float{
    float: left;
    width: 80%;
    background-color: aliceblue;
    padding: 1%;
}
#div2{
    float: left;
    width: 15%;
    padding: 1%;
}
footer{
    clear: both;
}
#commentaire{
    border-top: solid 1px black;
}
.flex{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
/* MENU HAMBURGER*/

#hamburger-menu > a {
    display: inline-block;
    width: auto;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
    list-style-type: none;
}

#hamburger-menu > span{
    display: none;
    text-align: center;
    line-height: 5px;
    padding-bottom: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 1388px){
    #container{
        width: 100%;
    }
}

@media(max-width: 812px){
    #container{
        width: 100%;
    }
    #float, #div2{
        width: 100%;
    }
    #hamburger-menu > a{
        display:none;
    }
    #hamburger-menu > span{
        display: inline-block;
    }
    #hamburger-menu:hover > a{
        width: 80%;
        display: block;
        margin: 10px auto;
    }
    #hamburger-menu:hover > span{
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: 0.5s;
    }
}